<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-10" style="background-color: rgb(255, 255, 255); padding-top: 1.75rem; padding-bottom: 3.5rem;">
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2016 {% include 'CoreBundle:Default:name.html.twig' %}</p>
    </div>
</footer>
